.component6 {
    margin-top: 272px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 348px;
    width: 944px;
    display: flex;
    justify-content: flex-end;
}

.component6>div {
    position: relative;
    padding: 0 70px;
    width: 680px;
    height: 488px;
    border-radius: 16px;
    border: 1px solid #C0C0C8;
    background: #FFF;
}

.component6>div>p {
    margin-top: 56px;
    color: #2C2E46;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 47px;
}

.component6>div>label,
.component6>div>div>label {
    margin-top: 17px;
    margin-left: 20px;
    margin-bottom: 7px;
    display: block;
    color: #2C2E46;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.component6>div>label>input,
.component6>div>div>label>input {
    display: block;
    margin-top: 7px;
    margin-left: -20px;
    width: 373px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #C0C0C8;
    background: #FFF;
    padding-left: 20px;
    outline: none;
    color: #2C2E46;
}

.component6>div>div {
    display: flex;
}


.component6 ::placeholder {
    color: #2C2E46;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.2;
}

.component6>div>div>label>input {
    width: 224px;
    margin-right: 10px;
}

.component6 button {
    margin-top: 54px;
    width: 117px;
    height: 46px;
    background-color: #e84862;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    border-radius: 60px;
    border: none;
}

.absDiv {
    width: 499.036px;
    height: 562.526px;
    transform: rotate(33.401deg);
    flex-shrink: 0;
    background: url("../../assets/img/Rectangle.png") lightgray 0px 0px / 100% 100% no-repeat;
    opacity: 0.5;
    filter: blur(50px);
    position: absolute;
    top: 170px;
    left: 195px;
    z-index: -1;
}

.mobileVer {
    display: none;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.mobileVer p {
    display: none;
    margin: 0;
    width: 195px;
    color: #2C2E46;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.mobileVer img {
    display: none;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(192, 192, 200, 0.2);
}

@media only screen and (max-width: 500px) {
    .component6 {
        position: relative;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
    }

    .component6>div {
        width: 335px;
        height: 446px;
        padding: 0px 25px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 28px 64px 0px rgba(30, 44, 71, 0.12);
        border: none;
    }

    #none {
        display: none;
    }

    .component6>div>div>label:last-child {
        display: none;
    }

    .component6>div>div>label>input,
    .component6>div>label>input,
    .component6 button {
        width: 285px;
    }

    .component6>div>div>label {
        margin-top: 4px;
    }

    .component6 button {
        margin-top: 28px;
        height: 54px;
    }

    .component6>div>p {
        display: none;
    }

    .mobileVer,
    .mobileVer p, 
    .mobileVer img {
        display: block;
    }
}