.layout {
    width: 100%;
    height: 1200px;
    overflow-y: scroll;
}

.parallax {
    width: 100%;
    height: 1500px;
    position: relative;
    overflow-y: hidden;
}

.flex1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 177px;
}

.div1 {
    width: 423px;
    height: 232px;
    color: #2C2E46;
    font-family: "Roboto", sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 52px;
    display: flex;
}

.div1>div {
    width: 57px;
    margin-right: 10px;
}

.div1>div>p {
    margin: 0;
    margin-top: -13px;
    color: #2C2E46;
    font-family: "Roboto", sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.div2 {
    position: relative;
    border-radius: 236px;
    width: 555px;
    height: 280px;
    background-image: url(../assets/img/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div3 {
    display: none;
}

.div3 p {
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 12px;
    width: 204px;
    color: #9596A2;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.div3 h1 {
    width: 335px;
    margin-top: 7px;
    margin-bottom: 38px;
    margin-left: 12px;
    color: #2C2E46;
    font-family: "Roboto", sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.play-button {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46px;
    height: 46px;
    background-color: #fff;
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17px;
    border-color: transparent transparent transparent #E84862;
}

.img1 {
    width: 800px;
    position: absolute;
    left: -178px;
    top: 380px;
}


.img2 {
    width: 765px;
    left: 100px;
    position: absolute;
    z-index: 4;
    left: 100px;
    top: 380px;
}

.img3 {
    width: 6470px;
    top: 618px;
    position: absolute;
    left: -2491px;
    top: 750px;
    z-index: 3;
}

.img4 {
    width: 499px;
    position: absolute;
    top: 560px;
    right: 478px;
    z-index: 3;
}

.img5 {
    position: absolute;
    width: 2779px;
    left: -1307px;
    top: 1030px;
    z-index: 6;
}

.img6 {
    position: absolute;
    width: 1645px;
    left: -1107px;
    top: 1049px;
    z-index: 5;
}

.img7 {
    width: 1165px;
    position: absolute;
    top: -1000px;
    right: 638px;
    z-index: 5;
}

.img8 {
    position: absolute;
    width: 1605px;
    left: -300px;
    top: 1500px;
    z-index: 5;
}

@media only screen and (max-width: 1440px) {
    .parallax {
        width: 100%;
        height: 1000px;
    }

    .layout {
        height: 750px;
    }

    .flex1 {
        top: 10px;
    }

    .div1>div>p {
        margin-top: -23px;
    }

    .img1 {
        left: -178px;
        top: 250px;
    }

    .img2 {
        left: 100px;
        top: 250px;
    }

    .img3 {
        left: -2491px;
        top: 618px;
    }

    .img4 {
        top: 430px;
        right: 178px;
    }

    .img5 {
        left: -1307px;
        top: 500px;
    }

    .img6 {
        left: -1107px;
        top: 500px;
    }

    .img7 {
        top: -1000px;
        right: 350px;
        z-index: 8;
    }

    .img8 {
        left: -100px;
        top: 900px;
    }
}

@media only screen and (max-width: 900px) {
    .img4 {
        right: 0;
    }
}

@media only screen and (max-width:500px) {

    .layout {
        height: 1400px;
    }

    .parallax {
        height: 1650px;
    }


    .div1 {
        display: none;
    }

    .play-button {
        width: 90px;
        height: 90px;
    }

    .play-icon {
        left: 55%;
        border-width: 14px 0 14px 26px;
    }

    .flex1 {
        flex-direction: column;
    }

    .div2 {
        width: 375px;
        height: 216px;
        margin-left: auto;
        margin-right: auto;
    }

    .div3 {
        display: block;
    }

    .img1 {
        left: -120px;
        width: 240px;
        top: 460px;
    }

    .img2 {
        left: -10px;
        width: 233px;
        top: 464px;
    }

    .img3 {
        top: 578px
    }

    .img4 {
        right: -70px;
        width: 175px;
        top: 530px;
    }

    .img5 {
        left: -900px;
        top: 800px;
        width: 1200px;
    }

    .img6 {
        left: -890px;
        top: 794px;
        width: 1200px;
    }

    .img7 {
        right: -900px;
        top: 800px;
        width: 500px;
        z-index: 5;
    }

    .img8 {
        left: -300px;
        top: 1200px;

    }


}