.header {
    padding: 0 12px;
    position: sticky;
    width: 100%;
    height: 104px;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: #fff;
    z-index: 8;
}

.header nav {
    max-width: 1040px;
    height: 104px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav div:first-child {
    display: flex;
    align-items: center;
}

.header a {
    display: inline-block;
    text-decoration: none;
    color: #2C2E46;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.4;
    padding-right: 40px;
}

.header div:last-child a {
    opacity: 1;
    padding-right: 0;
}

nav img {
    width: 40px;
    height: 40px;
    display: none;
}

nav button {
    width: 70px;
    height: 40px;
    border-radius: 70px;
    color: #FFF;
    background-color: #E84862;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 100%;
    border: none;
    display: none;
}

.layout {
    width: 100%;
    height: 1200px;
    overflow-y: scroll;
}

.parallax {
    width: 100%;
    height: 1500px;
    position: relative;
    overflow-y: hidden;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}

.div1 {
    width: 423px;
    height: 232px;
    color: #2C2E46;
    font-family: "Roboto", sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 62px;
}

.div2 {
    position: relative;
    border: 236px;
    width: 555px;
    height: 280px;
    background-image: url(../assets/img/hero.png);
}

.play-button {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46px;
    height: 46px;
    background-color: #fff;
    border: 2px solid #fff;
    /* Border color */
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}

/* Play icon styles */
.play-icon {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    /* Adjust this value to change the size of the play icon */
    border-color: transparent transparent transparent #000;
    /* Adjust color to match button */
}

.img1 {
    width: 800px;
    position: absolute;
}


.img2 {
    width: 765px;
    left: 100px;
    position: absolute;
    z-index: 4;
}

.img3 {
    width: 6470px;
    top: 618px;
    position: absolute;
    z-index: 3;
}

.img4 {
    width: 499px;
    position: absolute;
    top: 460px;
    right: 100px;
    z-index: 6;
}

.img5 {
    position: absolute;
    width: 2779px;
    top: 422px;
    z-index: 6;
}

.img6 {
    position: absolute;
    width: 1645px;
    top: 591px;
    z-index: 5;
}

.img7 {
    width:1165px;
    position: absolute;
    z-index: 7;
}

.img8 {
    position: absolute;
    width: 1605px;
    z-index: 7;
}

@media only screen and (max-width: 1440px) {
    .parallax {
        width: 100%;
        height: 1000px;
    }

    .layout {
        height: 750px;
    }
}


@media only screen and (max-width: 850px) {
    nav div {
        display: none;
    }

    nav img,
    nav button {
        display: block;
    }

    nav button {
        margin-right: 24px;
    }
}